.dashboard-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
.dashboard-content-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: auto;
}
.dashboard-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashboard-content-header h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: xx-large;
    font-weight: 700;
}
.dashboard-content-search {
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid gray;
}
.dashboard-content-search:focus {
    outline: #2D83B5 auto 1px;
}
.dashboard-content-input {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none transparent;   
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    color: #000000;
    font-size: 0.75rem;
    padding: 0.625rem;
}
table {
    width: 100%;
    margin: auto;
}
th {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
    display: table-row-group;
}
tr, thead {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}
td {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
td div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboard-content-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
td span {
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}
.dashboard-content-icon {
    width: 20px;
    margin-right: 10px;
}
.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}
.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}
.empty-table {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: gray;
    font-weight: 700;
    border-color: #FFFFFF;
}
.container-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    padding: 40px;
    margin: 40px;
    /* border: 0.5px solid rgb(40, 39, 39); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #FFFFFF;
}
.profile-card > h2{
    font-size: 25px;
    font-weight: 800;

}
.profile-setting{
    padding: 40px;
    margin: 40px;
    /* border: 0.5px solid rgb(40, 39, 39); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #FFFFFF;
}
.profile-setting > h2{
    font-size: 25px;
    font-weight: 800;
    font-family:sans-serif;
}
.profile-setting>hr{
    margin-bottom: 20px;
}
.update-profile{
    padding: 10px 20px;
    /* margin: 10px; */
    background-color: rgb(75, 75, 233);
    color: white;
    border-radius: 10px;
}
.bottom-hr{
    margin-top: 20px;
}
.dash-data{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-card{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    /* justify-content: center; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.data-card > h3{
    margin: 10px;    
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.circle{
    margin: 20px;
}
